<!DOCTYPE html>
<html lang="tr">
<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>RPDevlet - Giriş Yap</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="login-box">

<h1>RPDevlet</h1>

<form method="POST">

<input
type="text"
name="username"
placeholder="Kullanıcı Adı"
required>

<input
type="password"
name="password"
placeholder="Şifre"
required>

<button type="submit">
Giriş Yap
</button>

</form>

<p>

Hesabın yok mu?

<a href="/register">

Hesap Oluştur

</a>

</p>

</div>

</body>
</html>